<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'testapp/css/style.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <h1>入力した数字を表示します</h1>

    <form action="/testapp/print_num/" method="post">
      <table>
        <tr>
          <td>数字を入力してください</td>
          <td><input type="text" name="num" /></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="送信" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>
